canvas{
    position: absolute;
    left: 10%;
    display: block;
    border-top: #000;
    border-left: #000;
    border-width: 2;
    border-style: solid;
    width: 80%;
    margin: 0 auto 3px auto;
}